<div class="container">
<h1>{{titulo}}</h1>

<button class="btn btn-info" type="button" [routerLink]="['/clients/form']">AGREGAR CLIENTE</button>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NIT</th>
        <th scope="col">RAZON SOCIAL</th>
        <th scope="col">CONTACTO</th>
        <th scope="col">REGION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.identificacion_cc}}</td>
        <td>{{client.razon_social}}</td>
        <td>{{client.contacto}}</td>
        <td>{{client.region}}</td>
      </tr>
    </tbody>
  </table>
</div>
